{% extends 'ApplicationAdminBundle::layout.html.twig' %}

{% block content %}
<header>
	<h1>{{ 'dashboard.title' | trans }}</h1>
</header>

<div class="row-fluid">
      <div class="span12">
        <div class="dashboard">
          {{ knp_menu_render('ApplicationAdminBundle:DashboardMenuBuilder:company') }}
        </div>
      </div>
</div>
{% endblock content %}